<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add contact</title>
</head>
<body>
    <form action="/add_contact" method="POST">
        <h1>Add contact</h1>

        <input type="text" name="name" required placeholder="Name: ">
        <input type="text" name="phone" required placeholder="Phone: ">
        <input type="text" name="email" required placeholder="Email: ">
        <input type="text" name="group" required placeholder="Group: ">
        <input type="text" name="address" required placeholder="Address: ">
        <input type="text" name="birthday" required placeholder="Birthday: ">
        <input type="text" name="note" required placeholder="Note: ">

        <button type="submit">Add contact</button>
    </form>
</body>
</html>