<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact book</title>
</head>
<body>
    <p>{{ user }}</p>

    <a href="/add_contact">Add contact</a>
    <a href="/logout">Logout</a>

    <div>
        <p>Sort by name</p>
        <a class="asc" href="/contacts/sort_by_name/asc">asc</a><br>
        <a class="desc" href="/contacts/sort_by_name/desc">desc</a><br>
    </div>

    <div>
        <p>All groups</p>
        <a href="/contacts/all">All</a><br>
        {% for group in groups %}
            <a href="/contacts/{{ group.group }}" class="{{ group.group }}">{{ group.group }}</a><br>
        {% endfor %}
    </div>
    <br>


    <form action="{{ url_for('search_contacts') }}" method="GET">
        <label for="query">Search by name</label>
        <input type="text" name="query">
        <button type="submit">Search</button>
    </form>


    <div id="contacts">
        {% for contact in contacts %}
        <div>
            <p class="name">{{ contact.name }}</p>
            <p>{{ contact.group }}</p>
            <p>{{ contact.email }}</p>
            <p>{{ contact.phone }}</p>
            <a href="/delete_contact/{{ contact.id }}">Delete_contact</a>
        </div>
        {% endfor %}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/sort.js"></script>
</body>
</html>